a {
  text-decoration: none;
  background-color: transparent;
}

#navbar {
  background-color: #cc0000;
  color: white!important;
}

a:hover {
  color: #000000;
}

.signup-in {
  float: right;
}

.navbar-left{
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

#form {
  background-color: #eeeeee;
  width: 600px;
  margin: auto;
  margin-top: 150px;
  padding: 30px;
}

.btn-danger {
  background-color: #cc0000;
  border-color: #cc0000;
}
