a {
  text-decoration: none;
  background-color: transparent;
}

#navbar {
  background-color: red;
  color: white!important;
}

a:hover {
  color: #000000;
}

.signup-in {
  float: right;
}

.navbar-left{
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

img {
  width: 100%!important;
}

#hero-copy {
  text-align: center!important;
}
