<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Respondable</title>
    <!-- Custom CSS -->
    <link href="./style.css" rel="stylesheet">
    <link href="./home.css.scss" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-fixed-top" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-left" href="./index.html">Respondable</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="signup-in">
            <a class="navbar-brand navbar-right" href="#">Log In</a>
              <a class="navbar-brand navbar-right" href="./signup.html">Sign Up</a>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="wrapper">
      <h1>Landslide Response</h1>
      <div class="content">
        <p class="header">
          The following pre-compiled modules are available for download.  Select the modules most appropriate to your team.  If you anticipate operating without network access and have the storage capacity, select the “Download All” option to move all the data into your team’s Respondable app.
        </p>
        <hr>
        <div class="resource">
          <form class="form-inline">
            <div class="form-check rsrc-list">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Emergency Contacts
              </label>
            </div>
          </form>
          <form class="form-inline">
            <div class="form-check rsrc-list">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Red Cross Locations
              </label>
            </div>
          </form>
          <form class="form-inline">
            <div class="form-check rsrc-list">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Emergency Radio Channels
              </label>
            </div>
          </form>
          <form class="form-inline">
            <div class="form-check rsrc-list">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Local Fire Dept
              </label>
            </div>
          </form>
          <form class="form-inline">
            <div class="form-check rsrc-list">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Fresh Water Sources
              </label>
            </div>
          </form>
          <form class="form-inline">
            <div class="form-check rsrc-list">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Hospital Locations
              </label>
            </div>
          </form>
          <form class="form-inline">
            <div class="form-check rsrc-list">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Police Stations
              </label>
            </div>
          </form>
          <form class="form-inline">
            <div class="form-check rsrc-list">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Evacuation Map
              </label>
            </div>
          </form>
          <div class="button-div">
            <button type="submit" class="btn btn-primary button">Download Selected</button>
            <button type="submit" class="btn btn-primary btn-right">Download All</button>
          </div>
        </div>
      </div>
    </div>
      <hr>

      <footer>
        <p>&copy; 2016 Respondable, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
