a {
  text-decoration: none;
  background-color: transparent;
}

#navbar {
  background-color: #cc0000;
  color: white!important;
}

a:hover {
  color: #eeeeee;
}

.signup-in {
  float: right;
}

.navbar-left{
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

#createaccount {
  width: 600px;
  margin: auto;
  margin-top: 150px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
}

#form {
  background-color: #eeeeee;
  width: 600px;
  margin: auto;
  padding: 50px;
}

.btn-danger {
  background-color: #cc0000;
  border-color: #cc0000;
}

img {
  width: 100%!important;
}

#hero-copy {
  text-align: center!important;
}
